a {
  color: #00330f;
}
link:hover{
  color: red !important;
}
.header {
  color: #00330f;
  background-color: #e6ffee;
}
.navbar {
  color: #00330f;
  background-color: #e6ffee;

}
ul {
  list-style-type: none;
}
.hedNav {
  display: flex;
  justify-content: space-between;
  background-color: #e6ffee;
  
}
